<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   	<bean id = "s1" class = "com.sankar.spring.bean.Student">   		
   		<property name="sno" value="101"></property>
   		<property name="sname" value="Sankar"></property>
   		<property name="fee" value="4000"></property>
   	</bean>   

	<bean id = "s2" class = "com.sankar.spring.bean.Student">   		
   		<property name="sno" value="102"></property>
   		<property name="sname" value="Subbu"></property>
   		<property name="fee" value="7000"></property>
   	</bean>   
   	<bean id = "s3" class = "com.sankar.spring.bean.Student">   		
   		<property name="sno" value="103"></property>
   		<property name="sname" value="Ashok"></property>
   		<property name="fee" value="1000"></property>
   	</bean>   
   	<bean id="collegeNameRef" class="java.lang.String">
   		<constructor-arg value="Sardha Junior College"></constructor-arg>
   	</bean>
   	<bean id="college" class="com.sankar.spring.bean.College">
   		<property name="name" ref="collegeNameRef"></property>
   		<property name="students">
   			<list>
   				<ref bean="s1"/>
   				<ref bean="s2"/>
   				<ref bean="s3"/>
   			</list>
   		</property>
   	
   	</bean>
   	
   	
   	
</beans>