<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "ibref" class = "com.sankar.spring.bean.InstituteBean">   		
   		<property name="name" value="iPrimed Technologies"></property>
   		
   		<property name="facultyNames">
   			<list>
   				<value>sankar</value>
   				<value>Subbu</value>
   				<value>Ashok</value>
   			</list>
   		</property>
   		<property name="courseNames">
   			<list>
   				<value>Spring</value>
   				<value>Hibernate</value>
   				<value>Restful</value>
   			</list>
   		</property>
   </bean>   

</beans>